In [2]:
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns

In [3]:
df2014cplt = pd.read_csv("../Open-LPP-data/base_complete/OPEN_LPP_2014.CSV", encoding='ISO-8859-1', sep=';')
df2014cplt.head(2)

,TITRE,L_TITRE,sc1,L_SC1,sc2,L_SC2,CODE_LPP,L_CODE_LPP,AGE,SEXE,BEN_REG,PSP_SPE,QTE,REM,BSE
0,1,"TITRE 1 : DM POUR TRAITEMENTS, AIDES A LA VIE,...",1_1,"DM, MATERIELS ET PRODUITS POUR LE TRAITEMENT D...",1_1_1,DM POUR TRAITEMENT DES MALADIES RESPIRATOIRES ...,1100229,"FRA-38, VENTILATION ASSISTEE, < 12 HEURES + OX...",60,1,99,99,316,30567.63,30567.63
1,1,"TITRE 1 : DM POUR TRAITEMENTS, AIDES A LA VIE,...",1_1,"DM, MATERIELS ET PRODUITS POUR LE TRAITEMENT D...",1_1_1,DM POUR TRAITEMENT DES MALADIES RESPIRATOIRES ...,1100229,"FRA-38, VENTILATION ASSISTEE, < 12 HEURES + OX...",60,2,99,90,295,28223.10,28591.40

# Collecting code LPP under the "100% Santé" plan

## Optical

### Getting the interesting L_SC1 titles

In [4]:
produits = df2014cplt["L_SC1"].unique().tolist() #return a list of the L_SC1 title of all the product and prestation in the df
produits

['DM, MATERIELS ET PRODUITS POUR LE TRAITEMENT DE PATHOLOGIES SPECIFIQUES',
 'DM DE MAINTIEN A DOMICILE ET D AIDE A LA VIE POUR MALADES ET HANDICAPE',
 'ARTICLES POUR PANSEMENTS, MATERIELS DE CONTENTION',
 'ACCESSOIRES DE PRODUITS INSCRITS AU TITRE III',
 'CODES ARRIVES A ECHEANCE',
 'ORTHESES',
 'OPTIQUE MEDICALE',
 'AUDIOPROTHESES ET ENTRETIEN, REPARATIONS ET ACCESSOIRES POUR PROCESSEUR',
 'PROTHESES EXTERNES NON ORTHOPEDIQUES',
 'PROTHESES OCULAIRES ET FACIALES',
 'PODO-ORTHESES',
 'DMI D ORIGINE SYNTHETIQUE',
 'DMI ISSUS DE DERIVES ORIGINE ANIMALE NON VIABLES OU EN COMPORTANT',
 'IMPLANTS ISSUS DE DERIVES HUMAINS-GREFFONS',
 'DISPOSITIFS MEDICAUX IMPLANTABLES ACTIFS',
 'FAUTEUILS ROULANTS',
 'VEHICULES DIVERS',
 'ADJONCTIONS, OPTIONS ET REPARATIONS APPLICABLES AUX FAUTEUILS ROULANTS',
 'APPAREIL GENERATEUR D AEROSOL',
 'ORTHESES (PETIT APPAREILLAGE) (CHAP.1)',
 'ORTHOPROTHESES(CHAP.7)']

In [5]:
optical_100 = []
produits_index = [6, 9]

for i in range(len(produits_index)):
    optical_100.append(produits[produits_index[i]])

print(optical_100) #we got 2 interesting L_SC1 title which seem to be eligible to the 100% Santé plan for optical field, we will clean it more precisely.

['OPTIQUE MEDICALE', 'PROTHESES OCULAIRES ET FACIALES']

### Trying to clean the part "PROTHESES OCULAIRES ET FACIALES"

In [6]:
print(len(df2014cplt[df2014cplt["L_SC1"]=="PROTHESES OCULAIRES ET FACIALES"]))
df2014cplt[df2014cplt["L_SC1"]=="PROTHESES OCULAIRES ET FACIALES"].tail(3)
#we can notice that there are some shipping fees, we will look if we can disregard those.

758

,TITRE,L_TITRE,sc1,L_SC1,sc2,L_SC2,CODE_LPP,L_CODE_LPP,AGE,SEXE,BEN_REG,PSP_SPE,QTE,REM,BSE
213363,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_5,PROTHESES OCULAIRES ET FACIALES,2_5_2,PROTHESES FACIALES,2575986,"PROTHESE FACIALE, SUR DEVIS",60,2,99,99,20,71316.01,71316.01
213364,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_5,PROTHESES OCULAIRES ET FACIALES,2_5_3,FRAIS D EXPEDITION ET FRAIS ACCESSOIRES,2593607,"PROTHESES OCULAIRES ET FACIALES, FRAIS D'EXPED...",60,9,99,90,22,1781.76,1781.76
213365,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_5,PROTHESES OCULAIRES ET FACIALES,2_5_3,FRAIS D EXPEDITION ET FRAIS ACCESSOIRES,2593607,"PROTHESES OCULAIRES ET FACIALES, FRAIS D'EXPED...",99,9,99,90,18,1145.00,1145.00

In [7]:
df2014cplt[df2014cplt["L_SC1"]=="PROTHESES OCULAIRES ET FACIALES"]["L_SC2"].unique()

array(['PROTHESES OCULAIRES', 'PROTHESES FACIALES',
       'FRAIS D EXPEDITION ET FRAIS ACCESSOIRES'], dtype=object)

In [8]:
print(len(df2014cplt[df2014cplt["L_SC1"]=="PROTHESES OCULAIRES ET FACIALES"][df2014cplt["L_SC2"].str.contains("OCULAIRES|FRAIS")]))

742

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20484\2108725132.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(df2014cplt[df2014cplt["L_SC1"]=="PROTHESES OCULAIRES ET FACIALES"][df2014cplt["L_SC2"].str.contains("OCULAIRES|FRAIS")]))

In [9]:
df2014cplt[df2014cplt["L_SC1"]=="PROTHESES OCULAIRES ET FACIALES"][df2014cplt["L_SC2"].str.contains("OCULAIRES|FRAIS")]["L_CODE_LPP"].unique() 
#we figure out that this is not as precise as we would want, but we will keep all that points for the optical field (where L_SC1 = PROTHESES OCULAIRE ET FACIALES)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_20484\275288249.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2014cplt[df2014cplt["L_SC1"]=="PROTHESES OCULAIRES ET FACIALES"][df2014cplt["L_SC2"].str.contains("OCULAIRES|FRAIS")]["L_CODE_LPP"].unique()

array(['PROTHESE OCULAIRE PROVISOIRE DE RECOUVREMENT SUR MESURE',
       'PROTHESE OCULAIRE PROVISOIRE SUR GABARIT',
       "PROTHESE OCULAIRE DEFINITIVE DE RECOUVREMENT AVEC PRISE D'EMPREINTE",
       "PROTHESE OCULAIRE PROVISOIRE AVEC PRISE D'EMPREINTE",
       'PROTHESE OCULAIRE, RENOUVELLEMENT AVEC REPRISE DU CONTRE-TYPE INITIAL',
       'PROTHESE OCULAIRE ORGANIQUE, REPOLISSAGE',
       'PROTHESE OCULAIRE RECOUVRT, RENOUVT SANS PRISE EMPREINTE, +REPRISE MAITRE-MODELE',
       'PROTHESE OCULAIRE PROVISOIRE, TEST DE RECOUVREMENT, TEST DE TOLERANCE',
       "PROTHESE OCULAIRE, RENOUVELLEMENT AVEC PRISE D'EMPREINTE COMPLEMENTAIRE",
       'PROTHESE OCULAIRE PALPEBRO-ORBITAIRE, SUR DEVIS',
       "PROTHESE OCULAIRE DEFINITIVE AVEC PRISE D'EMPREINTE",
       'VERRE SCLERAL PERMEABLE OXYGENE, LAO, SPOT, RENOUVELLEMENT',
       "PROTHESE OCULAIRE, RENOUVELLEMENT AVEC PRISE D'EMPREINTE",
       'VERRE SCLERAL PERMEABLE OXYGENE, LAO, SPOT, PREMIERE MISE',
       "PROTHESE OCULAIRE DE RECOUVREMENT, RENOUVELLEMENT AVEC PRISE D'EMPREINTE",
       "PROTHESES OCULAIRES ET FACIALES, FRAIS D'EXPEDITION ET ACCESSOIRES"],
      dtype=object)

In [10]:
final_mask = (df2014cplt["L_SC1"]=="PROTHESES OCULAIRES ET FACIALES") & (df2014cplt["L_SC2"].str.contains("OCULAIRES|FRAIS"))
print(len(df2014cplt[final_mask])) #we get back with 742 lines as expected with the 2nd cell above.

742

In [11]:
df_optical_2014 = df2014cplt[final_mask]
df_optical_2014.head()

,TITRE,L_TITRE,sc1,L_SC1,sc2,L_SC2,CODE_LPP,L_CODE_LPP,AGE,SEXE,BEN_REG,PSP_SPE,QTE,REM,BSE
212608,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_5,PROTHESES OCULAIRES ET FACIALES,2_5_1,PROTHESES OCULAIRES,2503780,PROTHESE OCULAIRE PROVISOIRE DE RECOUVREMENT S...,0,1,99,15,15,5668.36,5668.36
212609,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_5,PROTHESES OCULAIRES ET FACIALES,2_5_1,PROTHESES OCULAIRES,2503780,PROTHESE OCULAIRE PROVISOIRE DE RECOUVREMENT S...,0,1,99,90,36,9697.72,9697.72
212610,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_5,PROTHESES OCULAIRES ET FACIALES,2_5_1,PROTHESES OCULAIRES,2503780,PROTHESE OCULAIRE PROVISOIRE DE RECOUVREMENT S...,0,2,99,15,14,5270.50,5270.50
212611,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_5,PROTHESES OCULAIRES ET FACIALES,2_5_1,PROTHESES OCULAIRES,2503780,PROTHESE OCULAIRE PROVISOIRE DE RECOUVREMENT S...,0,2,99,90,33,5797.54,5797.54
212612,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_5,PROTHESES OCULAIRES ET FACIALES,2_5_1,PROTHESES OCULAIRES,2503780,PROTHESE OCULAIRE PROVISOIRE DE RECOUVREMENT S...,20,1,11,90,22,1581.15,1581.15

### Cleaning the dataframe of optical financement in 2014, to get the amounts of money

In [12]:
#we keep the column "REM" to calculate the financing because this is the money effectively gave by the "Sécurité Sociale"
df_optical_2014 = pd.DataFrame({
    "L_SC2" : df_optical_2014["L_SC2"],
    "CODE_LPP" : df_optical_2014["CODE_LPP"],
    "Quantity" : df_optical_2014["QTE"],
    "Financing" : df_optical_2014["REM"]
 })

In [13]:
df_optical_2014.reset_index(inplace=True)
df_optical_2014.drop(columns="index", inplace=True)
df_optical_2014.head()

                 L_SC2  CODE_LPP  Quantity  Financing
0  PROTHESES OCULAIRES   2503780        15    5668.36
1  PROTHESES OCULAIRES   2503780        36    9697.72
2  PROTHESES OCULAIRES   2503780        14    5270.50
3  PROTHESES OCULAIRES   2503780        33    5797.54
4  PROTHESES OCULAIRES   2503780        22    1581.15

In [14]:
df_optical_2014["Total"] = df_optical_2014['Quantity']*df_optical_2014["Financing"]
df_optical_2014.head(5)

                 L_SC2  CODE_LPP  Quantity  Financing      Total
0  PROTHESES OCULAIRES   2503780        15    5668.36   85025.40
1  PROTHESES OCULAIRES   2503780        36    9697.72  349117.92
2  PROTHESES OCULAIRES   2503780        14    5270.50   73787.00
3  PROTHESES OCULAIRES   2503780        33    5797.54  191318.82
4  PROTHESES OCULAIRES   2503780        22    1581.15   34785.30

In [16]:
df_optical_2014["Total"].sum()

257674784.53000003

### Ajusting the result to the inflation (September 2024)