In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df2014cplt = pd.read_csv("../Open-LPP-data/base_complete/OPEN_LPP_2014.CSV", encoding='ISO-8859-1', sep=';')
df2014cplt.head(2)

,TITRE,L_TITRE,sc1,L_SC1,sc2,L_SC2,CODE_LPP,L_CODE_LPP,AGE,SEXE,BEN_REG,PSP_SPE,QTE,REM,BSE
0,1,"TITRE 1 : DM POUR TRAITEMENTS, AIDES A LA VIE,...",1_1,"DM, MATERIELS ET PRODUITS POUR LE TRAITEMENT D...",1_1_1,DM POUR TRAITEMENT DES MALADIES RESPIRATOIRES ...,1100229,"FRA-38, VENTILATION ASSISTEE, < 12 HEURES + OX...",60,1,99,99,316,30567.63,30567.63
1,1,"TITRE 1 : DM POUR TRAITEMENTS, AIDES A LA VIE,...",1_1,"DM, MATERIELS ET PRODUITS POUR LE TRAITEMENT D...",1_1_1,DM POUR TRAITEMENT DES MALADIES RESPIRATOIRES ...,1100229,"FRA-38, VENTILATION ASSISTEE, < 12 HEURES + OX...",60,2,99,90,295,28223.10,28591.40

### Collecting code LPP under the "100% SantÃ©" plan

In [28]:
mask = df2014cplt["L_CODE_LPP"].str.contains("VERRE|VERRES|LUNETTES|LUNETTE|AUDIOPROTHESE")
print(len(df2014cplt[mask]))
df2014cplt[mask].head()

7483

,TITRE,L_TITRE,sc1,L_SC1,sc2,L_SC2,CODE_LPP,L_CODE_LPP,AGE,SEXE,BEN_REG,PSP_SPE,QTE,REM,BSE
200867,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_2,OPTIQUE MEDICALE,2_2_1,LUNETTES,2200393,"VERRE BLANC SIMPLE FOYER, <18 ANS, CYLINDRE <O...",0,1,5,1,1573,17076.05,28489.97
200868,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_2,OPTIQUE MEDICALE,2_2_1,LUNETTES,2200393,"VERRE BLANC SIMPLE FOYER, <18 ANS, CYLINDRE <O...",0,1,5,15,26755,287086.28,478013.50
200869,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_2,OPTIQUE MEDICALE,2_2_1,LUNETTES,2200393,"VERRE BLANC SIMPLE FOYER, <18 ANS, CYLINDRE <O...",0,1,5,90,1441,15150.92,25096.70
200870,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_2,OPTIQUE MEDICALE,2_2_1,LUNETTES,2200393,"VERRE BLANC SIMPLE FOYER, <18 ANS, CYLINDRE <O...",0,1,11,1,1156,10618.70,17259.61
200871,2,TITRE 2 : ORTHESES ET PROTHESES EXTERNES,2_2,OPTIQUE MEDICALE,2_2_1,LUNETTES,2200393,"VERRE BLANC SIMPLE FOYER, <18 ANS, CYLINDRE <O...",0,1,11,4,29,259.96,433.26