In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import copy
import importlib
import functions
import numpy as np
import json
import seaborn as sns
from typing import List, Dict

In [2]:
from functions import gov_exp

In [3]:
importlib.reload(functions)
from functions import gov_exp

# getting groups

In [19]:
optical = gov_exp(
    inflation_adjustment=False,
    sector="optical",
    mask={"OPTIQUE MEDICALE": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [20]:
orthoprotheses = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={"ORTHOPROTHESES(CHAP.7)": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [21]:
dmi_synthe = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={"DMI D ORIGINE SYNTHETIQUE": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [22]:
audioprotheses = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={
        "AUDIOPROTHESES ET ENTRETIEN, REPARATIONS ET ACCESSOIRES POUR PROCESSEUR": [
            "contains",
            "L_SC1",
            "or",
        ],
        "AUDIOPROTHESES ET ENTRETIEN, REPARATIONS ET ACCESSOIRES POUR PROCESSEURS": [
            "contains",
            "L_SC1",
            "or",
        ],
    },
    indent=0,
)

In [23]:
ortheses = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={"ORTHESES (PETIT APPAREILLAGE) (CHAP.1)": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [24]:
aerosol = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={"APPAREIL GENERATEUR D AEROSOL": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [97]:
labels_name = ["optical", "orthoprotheses", "dmi_synthe", "audioprotheses", "ortheses", "aerosol"]
labels = [optical, orthoprotheses, dmi_synthe, audioprotheses, ortheses, aerosol]
dict = {labels_name[i]:labels[i] for i in range(6)}

In [98]:
#do we separate all groups, like we differ group with their name or we differ it whether they are treated and controled ? try 2*

# getting data in a unique df

In [99]:
i=0
for group_name in labels_name:
    
    if group_name == "optical":
        treatment = [0, 0, 0, 0, 0, 0, 1, 1, 1, 1]
    elif group_name == "audioprotheses":
        treatment = [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
    else:
        treatment = [0 for j in range(10)]
    
    df = pd.DataFrame(
    {
        "year":dict[group_name][0].keys(),
        "expenditures":dict[group_name][0].values(),
        "treatment":treatment,
    }
    )

    df = pd.get_dummies(df, columns=['year'], prefix='', prefix_sep='').astype(int)

    if i == 0:
        df_final = df
        i+=1
    else:
        df_final = pd.concat([df_final, df], axis=0)

reference = "2014"

df_final.reset_index(inplace=True)
df_final.drop(columns=["index", reference], inplace=True)

for col in df_final.filter(like="2").columns:
    df_final[f'{col}_treatment'] = df_final["treatment"] * df_final[col]

In [100]:
df_final.tail()

,expenditures,treatment,2015,2016,2017,2018,2019,2020,2021,2022,2023,2015_treatment,2016_treatment,2017_treatment,2018_treatment,2019_treatment,2020_treatment,2021_treatment,2022_treatment,2023_treatment
55,48600898,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
56,42818001,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
57,40465413,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
58,43625433,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
59,44977228,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [101]:
df_final.to_csv("df_for_reg.csv")

In [110]:
df_final = pd.read_csv("df_for_reg.csv", index_col=0)
df_final.columns

Index(['expenditures', 'treatment', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', '2023', '2015_treatment', '2016_treatment',
       '2017_treatment', '2018_treatment', '2019_treatment', '2020_treatment',
       '2021_treatment', '2022_treatment', '2023_treatment'],
      dtype='object')

## log(y)

In [118]:
import statsmodels.api as sm

X = df_final.drop(columns=["expenditures"])
X = sm.add_constant(X)
y = np.log(df_final["expenditures"])

In [119]:
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           expenditures   R-squared:                       0.085
Model:                            OLS   Adj. R-squared:                 -0.199
Method:                 Least Squares   F-statistic:                    0.2995
Date:                Fri, 25 Oct 2024   Prob (F-statistic):              0.991
Time:                        21:59:32   Log-Likelihood:                -76.600
No. Observations:                  60   AIC:                             183.2
Df Residuals:                      45   BIC:                             214.6
Df Model:                          14
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const             19.1238      0.409     46.770      0.000      18.300      19.947
treatment         -0.4485      0.342     -1.311      0.196      -1.138       0.241
2015               0.0549      0.578      0.095      0.925      -1.110       1.220
2016               0.0951      0.578      0.164      0.870      -1.070       1.260
2017               0.1117      0.578      0.193      0.848      -1.053       1.276
2018               0.1304      0.578      0.225      0.823      -1.034       1.295
2019               0.1995      0.606      0.329      0.744      -1.022       1.421
2020               0.1032      0.647      0.160      0.874      -1.199       1.405
2021               0.1662      0.647      0.257      0.798      -1.136       1.468
2022               0.1969      0.647      0.305      0.762      -1.105       1.499
2023               0.2500      0.647      0.387      0.701      -1.052       1.552
2015_treatment -8.736e-17   2.16e-16     -0.404      0.688   -5.22e-16    3.48e-16
2016_treatment -7.349e-17    2.3e-16     -0.319      0.751   -5.37e-16     3.9e-16
2017_treatment -3.129e-17   9.95e-17     -0.315      0.755   -2.32e-16    1.69e-16
2018_treatment -5.256e-17   1.37e-16     -0.383      0.704   -3.29e-16    2.24e-16
2019_treatment     0.0669      0.959      0.070      0.945      -1.865       1.998
2020_treatment    -0.9241      0.787     -1.175      0.246      -2.508       0.660
2021_treatment     0.1264      0.787      0.161      0.873      -1.458       1.711
2022_treatment     0.1417      0.787      0.180      0.858      -1.442       1.726
2023_treatment     0.1405      0.787      0.179      0.859      -1.444       1.725
==============================================================================
Omnibus:                        6.016   Durbin-Watson:                   0.232
Prob(Omnibus):                  0.049   Jarque-Bera (JB):                5.263
Skew:                          -0.638   Prob(JB):                       0.0720
Kurtosis:                       2.310   Cond. No.                     6.24e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.73e-34. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

## y

In [123]:
import statsmodels.api as sm

X = df_final.drop(columns=["expenditures"])
X = sm.add_constant(X)
y = df_final["expenditures"]

model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           expenditures   R-squared:                       0.073
Model:                            OLS   Adj. R-squared:                 -0.216
Method:                 Least Squares   F-statistic:                    0.2522
Date:                Fri, 25 Oct 2024   Prob (F-statistic):              0.996
Time:                        22:04:06   Log-Likelihood:                -1229.1
No. Observations:                  60   AIC:                             2488.
Df Residuals:                      45   BIC:                             2520.
Df Model:                          14
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const            2.63e+08   8.99e+07      2.924      0.005    8.18e+07    4.44e+08
treatment      -1.185e+08   7.53e+07     -1.575      0.122    -2.7e+08    3.31e+07
2015            9.892e+06   1.27e+08      0.078      0.938   -2.46e+08    2.66e+08
2016            2.224e+07   1.27e+08      0.175      0.862   -2.34e+08    2.78e+08
2017            2.575e+07   1.27e+08      0.202      0.840    -2.3e+08    2.82e+08
2018            3.342e+07   1.27e+08      0.263      0.794   -2.23e+08     2.9e+08
2019            6.632e+07   1.33e+08      0.497      0.622   -2.02e+08    3.35e+08
2020            5.102e+07   1.42e+08      0.359      0.721   -2.35e+08    3.37e+08
2021            8.336e+07   1.42e+08      0.586      0.561   -2.03e+08     3.7e+08
2022            9.135e+07   1.42e+08      0.642      0.524   -1.95e+08    3.78e+08
2023            1.167e+08   1.42e+08      0.821      0.416    -1.7e+08    4.03e+08
2015_treatment -1.382e-08   4.75e-08     -0.291      0.773    -1.1e-07    8.19e-08
2016_treatment  -1.03e-08   5.06e-08     -0.203      0.840   -1.12e-07    9.16e-08
2017_treatment -3.133e-09   2.19e-08     -0.143      0.887   -4.72e-08    4.09e-08
2018_treatment -8.581e-09   3.02e-08     -0.284      0.778   -6.94e-08    5.22e-08
2019_treatment -4.243e+07   2.11e+08     -0.201      0.841   -4.67e+08    3.82e+08
2020_treatment -8.847e+07   1.73e+08     -0.511      0.612   -4.37e+08     2.6e+08
2021_treatment  1.069e+07   1.73e+08      0.062      0.951   -3.38e+08    3.59e+08
2022_treatment  1.242e+07   1.73e+08      0.072      0.943   -3.36e+08    3.61e+08
2023_treatment -1.072e+07   1.73e+08     -0.062      0.951   -3.59e+08    3.38e+08
==============================================================================
Omnibus:                        2.759   Durbin-Watson:                   0.237
Prob(Omnibus):                  0.252   Jarque-Bera (JB):                2.571
Skew:                           0.432   Prob(JB):                        0.276
Kurtosis:                       2.467   Cond. No.                     6.24e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.73e-34. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

V2

In [4]:
optical = gov_exp(
    inflation_adjustment=False,
    sector="optical",
    mask={"OPTIQUE MEDICALE": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [5]:
orthoprotheses = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={"ORTHOPROTHESES(CHAP.7)": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [6]:
dmi_synthe = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={"DMI D ORIGINE SYNTHETIQUE": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [7]:
audioprotheses = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={
        "AUDIOPROTHESES ET ENTRETIEN, REPARATIONS ET ACCESSOIRES POUR PROCESSEUR": [
            "contains",
            "L_SC1",
            "or",
        ],
        "AUDIOPROTHESES ET ENTRETIEN, REPARATIONS ET ACCESSOIRES POUR PROCESSEURS": [
            "contains",
            "L_SC1",
            "or",
        ],
    },
    indent=0,
)

In [8]:
ortheses = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={"ORTHESES (PETIT APPAREILLAGE) (CHAP.1)": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [9]:
aerosol = gov_exp(
    inflation_adjustment=False,
    sector="all",
    mask={"APPAREIL GENERATEUR D AEROSOL": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [36]:
labels_name = ["optical", "orthoprotheses", "dmi_synthe", "audioprotheses", "ortheses", "aerosol"]
labels = [optical, orthoprotheses, dmi_synthe, audioprotheses, ortheses, aerosol]
dict = {labels_name[i]:labels[i] for i in range(6)}

In [45]:
i=0
for group_name in labels_name:
    
    if group_name == "optical":
        treatment = [0, 0, 0, 0, 0, 0, 1, 1, 1, 1]
    elif group_name == "audioprotheses":
        treatment = [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
    else:
        treatment = [0 for j in range(10)]
    
    df = pd.DataFrame(
    {
        "year":dict[group_name][0].keys(),
        "expenditures":dict[group_name][0].values(),
        "treatment":treatment,
    }
    )

    if i == 0:
        df_final = df
        i+=1
    else:
        df_final = pd.concat([df_final, df], axis=0)
    
df_final.head()

   year  expenditures  treatment
0  2014  1.928794e+08          0
1  2015  2.036127e+08          0
2  2016  2.084419e+08          0
3  2017  2.094767e+08          0
4  2018  2.188379e+08          0

In [46]:
df_final.dtypes

year             object
expenditures    float64
treatment         int64
dtype: object

In [47]:
df_final["after_treatment_year"] = 0

for i in range(len(df_final)):
    if df_final.iloc[i, 0] not in [str(j+2014) for j in range(5)]:
        df_final.iloc[i, 3] = 1

In [48]:
df_final.drop(columns="year", inplace=True)

In [49]:
df_final.head()

   expenditures  treatment  after_treatment_year
0  1.928794e+08          0                     0
1  2.036127e+08          0                     0
2  2.084419e+08          0                     0
3  2.094767e+08          0                     0
4  2.188379e+08          0                     0

In [51]:
df_final["treatment_year"] = df_final["treatment"] * df_final["after_treatment_year"]

In [53]:
df_final.head()

   expenditures  treatment  after_treatment_year  treatment_year
0  1.928794e+08          0                     0               0
1  2.036127e+08          0                     0               0
2  2.084419e+08          0                     0               0
3  2.094767e+08          0                     0               0
4  2.188379e+08          0                     0               0

# log(y)

In [54]:
import statsmodels.api as sm

X = df_final.drop(columns=["expenditures"])
X = sm.add_constant(X)
y = np.log(df_final["expenditures"])

In [55]:
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           expenditures   R-squared:                       0.041
Model:                            OLS   Adj. R-squared:                  0.007
Method:                 Least Squares   F-statistic:                     1.217
Date:                Sun, 27 Oct 2024   Prob (F-statistic):              0.304
Time:                        17:59:25   Log-Likelihood:                -78.019
No. Observations:                  60   AIC:                             162.0
Df Residuals:                      57   BIC:                             168.3
Df Model:                           2
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   19.2022      0.166    115.423      0.000      18.869      19.535
treatment               -0.2791      0.182     -1.538      0.130      -0.643       0.084
after_treatment_year     0.1055      0.259      0.407      0.686      -0.414       0.625
treatment_year          -0.2791      0.182     -1.538      0.130      -0.643       0.084
==============================================================================
Omnibus:                        5.941   Durbin-Watson:                   0.321
Prob(Omnibus):                  0.051   Jarque-Bera (JB):                6.009
Skew:                          -0.748   Prob(JB):                       0.0496
Kurtosis:                       2.592   Cond. No.                     6.23e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.15e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# y

In [56]:
import statsmodels.api as sm

X = df_final.drop(columns=["expenditures"])
X = sm.add_constant(X)
y = df_final["expenditures"]

In [57]:
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           expenditures   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.020
Method:                 Least Squares   F-statistic:                     1.615
Date:                Sun, 27 Oct 2024   Prob (F-statistic):              0.208
Time:                        18:00:10   Log-Likelihood:                -1229.8
No. Observations:                  60   AIC:                             2466.
Df Residuals:                      57   BIC:                             2472.
Df Model:                           2
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                 2.812e+08   3.61e+07      7.789      0.000    2.09e+08    3.54e+08
treatment            -6.884e+07   3.94e+07     -1.747      0.086   -1.48e+08    1.01e+07
after_treatment_year  6.276e+07   5.63e+07      1.115      0.269   -4.99e+07    1.75e+08
treatment_year       -6.884e+07   3.94e+07     -1.747      0.086   -1.48e+08    1.01e+07
==============================================================================
Omnibus:                        3.276   Durbin-Watson:                   0.273
Prob(Omnibus):                  0.194   Jarque-Bera (JB):                3.033
Skew:                           0.478   Prob(JB):                        0.219
Kurtosis:                       2.452   Cond. No.                     6.23e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.15e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

adding age, I've to filter my data at the begining

In [64]:
elements = os.listdir("../Open-LPP-data/base_complete")
unique_value = []
for i in range(int(len(elements) / 2)):
    df = pd.read_csv(
        f"../Open-LPP-data/base_complete/OPEN_LPP_{(i+2014)}.CSV",
        encoding="ISO-8859-1",
        sep=";",
    )
    df = pd.DataFrame(
        {
#               "L_SC1": df["L_SC1"],
#               "L_SC2": df["L_SC2"],
#               "CODE_LPP": df["CODE_LPP"],
#               "L_CODE_LPP": df["L_CODE_LPP"],
#               "Quantity": df["QTE"],
            "Financing": df["REM"],
#               "BASE": df["BSE"],
            "AGE":df["AGE"]
        }
    )

    values = df["AGE"].unique()
    print(values)

    for value in values:
        if value in unique_value:
            continue
        else:
            unique_value.append(value)

[60 99  0 20 40]
[60 99  0 20 40]
[60 99  0 20 40]
[60 99  0 20 40]
[60 99  0 20 40]
[40 60 99  0 20]
[40 60 99  0 20]
[60 99  0 20 40]
[60 99  0 20 40]
[60 99  0 20 40]

In [63]:
unique_value

[60, 99, 0, 20, 40]

In [4]:
importlib.reload(functions)
from functions import gov_exp_by_age

In [5]:
optical = gov_exp_by_age(
    inflation_adjustment=False,
    sector="optical",
    mask={"OPTIQUE MEDICALE": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [6]:
orthoprotheses = gov_exp_by_age(
    inflation_adjustment=False,
    sector="all",
    mask={"ORTHOPROTHESES(CHAP.7)": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [7]:
dmi_synthe = gov_exp_by_age(
    inflation_adjustment=False,
    sector="all",
    mask={"DMI D ORIGINE SYNTHETIQUE": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [8]:
audioprotheses = gov_exp_by_age(
    inflation_adjustment=False,
    sector="all",
    mask={
        "AUDIOPROTHESES ET ENTRETIEN, REPARATIONS ET ACCESSOIRES POUR PROCESSEUR": [
            "contains",
            "L_SC1",
            "or",
        ],
        "AUDIOPROTHESES ET ENTRETIEN, REPARATIONS ET ACCESSOIRES POUR PROCESSEURS": [
            "contains",
            "L_SC1",
            "or",
        ],
    },
    indent=0,
)

In [9]:
ortheses = gov_exp_by_age(
    inflation_adjustment=False,
    sector="all",
    mask={"ORTHESES (PETIT APPAREILLAGE) (CHAP.1)": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [10]:
aerosol = gov_exp_by_age(
    inflation_adjustment=False,
    sector="all",
    mask={"APPAREIL GENERATEUR D AEROSOL": ["equality", "L_SC1", "and"]},
    indent=0,
)

In [11]:
labels_name = ["optical", "orthoprotheses", "dmi_synthe", "audioprotheses", "ortheses", "aerosol"]
labels = [optical, orthoprotheses, dmi_synthe, audioprotheses, ortheses, aerosol]
dict = {labels_name[i]:labels[i] for i in range(6)}

In [20]:
i=0
for group_name in labels_name:
    
    if group_name == "optical":
        treatment = [0, 0, 0, 0, 0, 0, 1, 1, 1, 1]
    elif group_name == "audioprotheses":
        treatment = [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
    else:
        treatment = [0 for j in range(10)]
    
    data = []

    k=0
    for year, age_data in optical.items():
        for age_range, values in age_data.items():
            data.append({
                "year": year,
                "age_range": age_range,
                "treatment": treatment[k],
                "expenditures": values[1]
            })
        k+=1
    
    df = pd.DataFrame(data)

    df = pd.get_dummies(df, columns=['age_range'], prefix='', prefix_sep='').astype(int)

    if i == 0:
        df_final = df
        i+=1
    else:
        df_final = pd.concat([df_final, df], axis=0)
    
df_final.reset_index(inplace=True)
df_final.drop(columns="index", inplace=True)

df_final

     year  treatment  expenditures  0-20  20-40  40-60  60-80
0    2014          0      81373839     1      0      0      0
1    2014          0      16288210     0      1      0      0
2    2014          0      52412508     0      0      1      0
3    2014          0      42433442     0      0      0      1
4    2015          0      86038728     1      0      0      0
..    ...        ...           ...   ...    ...    ...    ...
235  2022          0      26172441     0      0      0      1
236  2023          0      15656941     1      0      0      0
237  2023          0      12949112     0      1      0      0
238  2023          0      29014456     0      0      1      0
239  2023          0      30260450     0      0      0      1

[240 rows x 7 columns]

In [21]:
df_final["after_treatment_year"] = 0

mask = ~df_final.iloc[:, 0].isin([(j+2014) for j in range(5)])

# Appliquer le masque pour définir "after_treatment_year" à 1 là où le masque est True
df_final.loc[mask, "after_treatment_year"] = 1

In [22]:
df_final.drop(columns="year", inplace=True)
df_final

     treatment  expenditures  0-20  20-40  40-60  60-80  after_treatment_year
0            0      81373839     1      0      0      0                     0
1            0      16288210     0      1      0      0                     0
2            0      52412508     0      0      1      0                     0
3            0      42433442     0      0      0      1                     0
4            0      86038728     1      0      0      0                     0
..         ...           ...   ...    ...    ...    ...                   ...
235          0      26172441     0      0      0      1                     1
236          0      15656941     1      0      0      0                     1
237          0      12949112     0      1      0      0                     1
238          0      29014456     0      0      1      0                     1
239          0      30260450     0      0      0      1                     1

[240 rows x 7 columns]

In [23]:
#df_final["treatmentXyear"] = df_final["treatment"] * df_final["after_treatment_year"] colinearity between treatmentXyear and treatment

# log(y)

In [24]:
import statsmodels.api as sm

X = df_final.drop(columns=["expenditures"])
X = sm.add_constant(X)
y = np.log(df_final["expenditures"])

In [25]:
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           expenditures   R-squared:                       0.519
Model:                            OLS   Adj. R-squared:                  0.509
Method:                 Least Squares   F-statistic:                     50.47
Date:                Mon, 28 Oct 2024   Prob (F-statistic):           2.44e-35
Time:                        18:21:15   Log-Likelihood:                -230.97
No. Observations:                 240   AIC:                             473.9
Df Residuals:                     234   BIC:                             494.8
Df Model:                           5
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   14.0818      0.047    300.572      0.000      13.989      14.174
treatment               -0.1728      0.128     -1.352      0.178      -0.425       0.079
0-20                     3.9008      0.073     53.675      0.000       3.758       4.044
20-40                    2.7793      0.073     38.243      0.000       2.636       2.922
40-60                    3.7725      0.073     51.910      0.000       3.629       3.916
60-80                    3.6292      0.073     49.938      0.000       3.486       3.772
after_treatment_year    -0.9224      0.091    -10.107      0.000      -1.102      -0.743
==============================================================================
Omnibus:                       28.476   Durbin-Watson:                   1.058
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.290
Skew:                          -0.747   Prob(JB):                     1.78e-09
Kurtosis:                       4.339   Cond. No.                     1.98e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.66e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# y

In [26]:
import statsmodels.api as sm

X = df_final.drop(columns=["expenditures"])
X = sm.add_constant(X)
y = df_final["expenditures"]

In [27]:
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           expenditures   R-squared:                       0.578
Model:                            OLS   Adj. R-squared:                  0.569
Method:                 Least Squares   F-statistic:                     64.13
Date:                Mon, 28 Oct 2024   Prob (F-statistic):           6.02e-42
Time:                        18:21:31   Log-Likelihood:                -4351.4
No. Observations:                 240   AIC:                             8715.
Df Residuals:                     234   BIC:                             8736.
Df Model:                           5
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  4.13e+07   1.34e+06     30.842      0.000    3.87e+07    4.39e+07
treatment             -5.31e+06   3.65e+06     -1.454      0.147   -1.25e+07    1.89e+06
0-20                  3.193e+07   2.08e+06     15.372      0.000    2.78e+07     3.6e+07
20-40                -1.339e+07   2.08e+06     -6.446      0.000   -1.75e+07    -9.3e+06
40-60                 1.383e+07   2.08e+06      6.658      0.000    9.74e+06    1.79e+07
60-80                  8.93e+06   2.08e+06      4.299      0.000    4.84e+06     1.3e+07
after_treatment_year -2.564e+07   2.61e+06     -9.830      0.000   -3.08e+07   -2.05e+07
==============================================================================
Omnibus:                        8.667   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.013   Jarque-Bera (JB):               11.598
Skew:                           0.261   Prob(JB):                      0.00303
Kurtosis:                       3.942   Cond. No.                     1.98e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.66e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [201]:
i=0
for group_name in labels_name:
    
    if group_name == "optical":
        treatment = [0, 0, 0, 0, 0, 0, 1, 1, 1, 1]
    elif group_name == "audioprotheses":
        treatment = [0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
    else:
        treatment = [0 for j in range(10)]
    
    data = []

    k=0
    for year, age_data in optical.items():
        for age_range, values in age_data.items():
            data.append({
                "year": year,
                "age_range": age_range,
                "treatment": treatment[k],
                "expenditures": values[1]
            })
        k+=1
    
    df = pd.DataFrame(data)

    df = pd.get_dummies(df, columns=['age_range'], prefix='', prefix_sep='').astype(int)
    df = pd.get_dummies(df, columns=['year'], prefix='', prefix_sep='').astype(int)

    if i == 0:
        df_final = df
        i+=1
    else:
        df_final = pd.concat([df_final, df], axis=0)
    
df_final.reset_index(inplace=True)
df_final.drop(columns="index", inplace=True)

df_final

,treatment,expenditures,0-20,20-40,40-60,60-80,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0,81373839,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,16288210,0,1,0,0,1,0,0,0,0,0,0,0,0,0
2,0,52412508,0,0,1,0,1,0,0,0,0,0,0,0,0,0
3,0,42433442,0,0,0,1,1,0,0,0,0,0,0,0,0,0
4,0,86038728,1,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,0,26172441,0,0,0,1,0,0,0,0,0,0,0,0,1,0
236,0,15656941,1,0,0,0,0,0,0,0,0,0,0,0,0,1
237,0,12949112,0,1,0,0,0,0,0,0,0,0,0,0,0,1
238,0,29014456,0,0,1,0,0,0,0,0,0,0,0,0,0,1
239,0,30260450,0,0,0,1,0,0,0,0,0,0,0,0,0,1

In [206]:
for col in df_final.columns:
    if "2" in col or "-" in col:
        df_final[f'{col}_treatment'] = df_final["treatment"] * df_final[col]

,treatment,expenditures,0-20,20-40,40-60,60-80,2014,2015,2016,2017,...,2014_treatment,2015_treatment,2016_treatment,2017_treatment,2018_treatment,2019_treatment,2020_treatment,2021_treatment,2022_treatment,2023_treatment
0,0,81373839,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,16288210,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,52412508,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,42433442,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,86038728,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,0,26172441,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236,0,15656941,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
237,0,12949112,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238,0,29014456,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,0,30260450,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [207]:
df_final.columns

Index(['treatment', 'expenditures', '0-20', '20-40', '40-60', '60-80', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023',
       '0-20_treatment', '20-40_treatment', '40-60_treatment',
       '60-80_treatment', '2014_treatment', '2015_treatment', '2016_treatment',
       '2017_treatment', '2018_treatment', '2019_treatment', '2020_treatment',
       '2021_treatment', '2022_treatment', '2023_treatment'],
      dtype='object')

# y

In [208]:
import statsmodels.api as sm

X = df_final.drop(columns=["expenditures"])
X = sm.add_constant(X)
y = df_final["expenditures"]

In [209]:
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           expenditures   R-squared:                       0.818
Model:                            OLS   Adj. R-squared:                  0.801
Method:                 Least Squares   F-statistic:                     49.12
Date:                Sun, 27 Oct 2024   Prob (F-statistic):           1.75e-69
Time:                        23:15:39   Log-Likelihood:                -4250.7
No. Observations:                 240   AIC:                             8543.
Df Residuals:                     219   BIC:                             8616.
Df Model:                          20
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            2.815e+07   6.58e+05     42.788      0.000    2.69e+07    2.95e+07
treatment        -5.86e-09   1.76e+06  -3.33e-15      1.000   -3.47e+06    3.47e+06
0-20             3.218e+07   1.52e+06     21.177      0.000    2.92e+07    3.52e+07
20-40            -1.91e+07   1.52e+06    -12.565      0.000   -2.21e+07   -1.61e+07
40-60            1.031e+07   1.52e+06      6.785      0.000    7.32e+06    1.33e+07
60-80            4.753e+06   1.52e+06      3.128      0.002    1.76e+06    7.75e+06
2014             1.293e+07   2.44e+06      5.304      0.000    8.13e+06    1.77e+07
2015             1.563e+07   2.44e+06      6.411      0.000    1.08e+07    2.04e+07
2016             1.691e+07   2.44e+06      6.934      0.000    1.21e+07    2.17e+07
2017             1.717e+07   2.44e+06      7.042      0.000    1.24e+07     2.2e+07
2018             1.951e+07   2.44e+06      8.002      0.000    1.47e+07    2.43e+07
2019             2.265e+07   2.65e+06      8.560      0.000    1.74e+07    2.79e+07
2020            -3.112e+07   2.93e+06    -10.623      0.000   -3.69e+07   -2.53e+07
2021            -1.668e+07   2.93e+06     -5.695      0.000   -2.25e+07   -1.09e+07
2022            -1.563e+07   2.93e+06     -5.337      0.000   -2.14e+07   -9.86e+06
2023            -1.322e+07   2.93e+06     -4.514      0.000    -1.9e+07   -7.45e+06
0-20_treatment  -2.361e+07   3.93e+06     -6.014      0.000   -3.13e+07   -1.59e+07
20-40_treatment  1.614e+07   3.93e+06      4.110      0.000     8.4e+06    2.39e+07
40-60_treatment  1.538e+06   3.93e+06      0.392      0.696    -6.2e+06    9.28e+06
60-80_treatment  5.934e+06   3.93e+06      1.511      0.132    -1.8e+06    1.37e+07
2014_treatment   1.364e-09   5.39e-10      2.529      0.012    3.01e-10    2.43e-09
2015_treatment  -3.809e-10   6.73e-10     -0.566      0.572   -1.71e-09    9.45e-10
2016_treatment   6.545e-11   1.43e-10      0.456      0.649   -2.17e-10    3.48e-10
2017_treatment           0          0        nan        nan           0           0
2018_treatment           0          0        nan        nan           0           0
2019_treatment  -5.998e-09   5.95e+06  -1.01e-15      1.000   -1.17e+07    1.17e+07
2020_treatment  -1.164e-08   4.89e+06  -2.38e-15      1.000   -9.64e+06    9.64e+06
2021_treatment  -2.765e-09   4.89e+06  -5.65e-16      1.000   -9.64e+06    9.64e+06
2022_treatment   5.821e-09   4.89e+06   1.19e-15      1.000   -9.64e+06    9.64e+06
2023_treatment   3.725e-09   4.89e+06   7.62e-16      1.000   -9.64e+06    9.64e+06
==============================================================================
Omnibus:                       12.212   Durbin-Watson:                   2.942
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               17.230
Skew:                          -0.352   Prob(JB):                     0.000181
Kurtosis:                       4.108   Cond. No.                     1.31e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.93e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# log(y)

In [210]:
import statsmodels.api as sm

X = df_final.drop(columns=["expenditures"])
X = sm.add_constant(X)
y = np.log(df_final["expenditures"])

In [211]:
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           expenditures   R-squared:                       0.928
Model:                            OLS   Adj. R-squared:                  0.922
Method:                 Least Squares   F-statistic:                     141.4
Date:                Sun, 27 Oct 2024   Prob (F-statistic):          3.02e-113
Time:                        23:16:56   Log-Likelihood:                -2.8374
No. Observations:                 240   AIC:                             47.67
Df Residuals:                     219   BIC:                             120.8
Df Model:                          20
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              12.6779      0.014    936.536      0.000      12.651      12.705
treatment       -2.851e-15      0.036  -7.87e-14      1.000      -0.071       0.071
0-20                3.6194      0.031    115.758      0.000       3.558       3.681
20-40               2.3833      0.031     76.224      0.000       2.322       2.445
40-60               3.4109      0.031    109.090      0.000       3.349       3.473
60-80               3.2643      0.031    104.400      0.000       3.203       3.326
2014                1.6923      0.050     33.733      0.000       1.593       1.791
2015                1.7446      0.050     34.774      0.000       1.646       1.843
2016                1.7652      0.050     35.186      0.000       1.666       1.864
2017                1.7636      0.050     35.153      0.000       1.665       1.862
2018                1.8088      0.050     36.055      0.000       1.710       1.908
2019                1.8690      0.054     34.336      0.000       1.762       1.976
2020               -0.6668      0.060    -11.063      0.000      -0.786      -0.548
2021                0.8340      0.060     13.838      0.000       0.715       0.953
2022                0.8765      0.060     14.544      0.000       0.758       0.995
2023                0.9906      0.060     16.437      0.000       0.872       1.109
0-20_treatment     -0.4639      0.081     -5.744      0.000      -0.623      -0.305
20-40_treatment     0.3002      0.081      3.717      0.000       0.141       0.459
40-60_treatment     0.0707      0.081      0.875      0.382      -0.088       0.230
60-80_treatment     0.0931      0.081      1.152      0.250      -0.066       0.252
2014_treatment   3.481e-17   1.11e-17      3.136      0.002    1.29e-17    5.67e-17
2015_treatment  -5.388e-17   1.38e-17     -3.893      0.000   -8.12e-17   -2.66e-17
2016_treatment     1.2e-18   2.95e-18      0.407      0.685   -4.61e-18    7.01e-18
2017_treatment           0          0        nan        nan           0           0
2018_treatment           0          0        nan        nan           0           0
2019_treatment   2.878e-15      0.122   2.35e-14      1.000      -0.241       0.241
2020_treatment  -5.304e-16      0.101  -5.27e-15      1.000      -0.198       0.198
2021_treatment  -3.858e-16      0.101  -3.83e-15      1.000      -0.198       0.198
2022_treatment   2.776e-17      0.101   2.76e-16      1.000      -0.198       0.198
2023_treatment   2.331e-15      0.101   2.32e-14      1.000      -0.198       0.198
==============================================================================
Omnibus:                       26.312   Durbin-Watson:                   2.563
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               36.728
Skew:                          -0.705   Prob(JB):                     1.06e-08
Kurtosis:                       4.299   Cond. No.                     1.31e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.93e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.